body{
    margin: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 6%, 35%);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 6%, 35%);
    border-radius: 25px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 20px 20px 50px rgba(2, 3, 2, 5);
}
   #display{
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    padding: 10px;
    font-size: 2rem;
    text-align: left;
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 100%, 96%);
    color: rgb(6, 6, 6);
    display: block;
    margin: 10px auto;
   }   
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    font-size: 1.3rem;

}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}